---
---
html, body {
    body,html{
        background-color: rgb(250, 57, 105);
        margin:2;
        font-family: 'Roboto', sans-serif;
    }
    
    
            h1 { color: rgb(226, 235, 151)}
                p {color: rgb(23, 6, 46);
    }
                 a{color:rgb(255, 255, 255)}
    
    h1{
        font-family: 'Roboto Condensed', sans-serif;
    }
    h5{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color:rgb(221, 30, 94);
        text-align: center
    }
    
    i{
        font-size:100px;
        color:white;
        font-size: 40px;
        text-align: right;
    margin: 10px 10px 10px 767px;
    }
    
    
    #content-wrapper{
        width:960px;
    margin:0 auto;
    }
    
    .grey-copy{
    color:rgb(240, 245, 181);
    }
    
    
    img{
        display:block;
        margin:0 auto;
         border:5px solid white;
        border-radius: 300px;
     }
    
    ul {
        list-style-type: none;
        width:1100px;
        margin: 10px 10px 10px 767px;
    }
    
    ul.icons,li  {
       
        display: inline;
        
           
    }
    
    footer{
        background-color: blanchedalmond;
        width: 100%;
        height: 100px;
    }
    
    
}